/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 360px){
   .container{
      margin-inline: 1rem;
   }

   .home__image,
   .app__image,
   .reviews__image,
   .map__area{
      width: 100%;
   }

   .menu__container{
      grid-template-columns: 180px;
      justify-content: center;
   }

   .reviews{
      &__container{
         row-gap: 4rem;
      }
      &__img{
         left: 1rem;
      }
      &__comment{
         width: 85%;
      }
   }

   .footer__content{
      gap: 2rem;
   }
}

/* For medium devices */
@media screen and (min-width: 540px){
   .nav__menu{
      width: 50%;
   }

   .home__container,
   .reviews__container{
      grid-template-columns: 380px;
      justify-content: center;
   }

   .menu__container{
      grid-template-columns: repeat(2, 180px);
      justify-content: center;
   }

   .app__container{
      width: 380px;
      margin-inline: auto;
   }

   .footer__form{
      width: 360px;
   }
}

@media screen and (min-width: 768px){
   .service__container{
      grid-template-columns: repeat(2, 220px);
   }

   .menu__container{
      grid-template-columns: repeat(3, 180px);
   }

   .footer{
      &__content{
         grid-template-columns: repeat(3, max-content);
      }
      &__newsletter{
         grid-column: initial;
      }
   }
}

/* For large devices */
@media screen and (min-width: 1150px){
   .container{
      margin-inline: auto;
   }

   .section{
      padding-block: 7rem 2rem;

      &__title{
         margin-bottom: 3.5rem;
      }
      &__subtitle{
         margin-bottom: .5rem;
      }
   }

   .nav{
      height: calc(var(--header-height) + 2rem);
      
      &__toggle{
         display: none;
      }
      &__list{
         flex-direction: row;
         column-gap: 4rem;
      }
      &__theme{
         position: initial;
         font-size: 1.5rem;
      }
      &__menu{
         width: initial;
         display: flex;
         column-gap: 4rem;
         align-items: center;
      }
   }

   .home{
      &__container{
         grid-template-columns: 500px 520px;
         align-items: center;
         column-gap: 5rem;
         padding-block: 4rem;
      }
      &__data{
         text-align: initial;
         row-gap: 5rem;
      }
      &__title{
         margin-bottom: 1rem;
      }
      &__description{
         font-size: var(--h3-font-size);
         margin-bottom: 3rem;
      }
      &__social{
         justify-content: initial;
      }
      &__image{
         width: 520px;
         height: 520px;
         border-radius: 11rem;
      }
      &__img{
         width: 380px;
      }
      &__phone{
         top: 15rem;
         left: -4rem;
         padding: .75rem;
         border-radius: 1.25rem;
      }
      &__icon{
         width: 48px;
         height: 48px;
         border-radius: 1rem;
         font-size: 2rem;
      }
      &__number{
         font-size: var(--normal-font-size);
      }
      &__comment{
         right: 1.5rem;
         bottom: -3rem;
         width: 320px;
         padding: 2rem 3rem;
         border-radius: 2rem;
         font-size: var(--normal-font-size);

         &::before,
         &::after{
            font-size: 3rem;
         }
      }
   }

   .service{
      &__container{
         grid-template-columns: repeat(3, 220px);
         column-gap: 10rem;
      }
      &__img{
         width: 180px;
         margin-bottom: 2rem;
      }
   }

   .menu{
      &__container{
         grid-template-columns: repeat(4, 260px);
         row-gap: 2rem;
      }
      &__card{
         padding: 1rem 1.5rem 2rem;
         border-radius: 2rem;
      }
      &__img{
         width: 160px;
      }
      &__name,
      &__price{
         font-size: var(--h2-font-size);
      }
      &__amount{
         font-size: var(--normal-font-size);
         margin-block: .5rem 1rem;
      }
      &__button{
         right: 1.5rem;
         bottom: 2rem;
         width: 48px;
         height: 48px;
         border-radius: 1rem;
         font-size: 2rem;
      }
   }

   .reviews{
      &__container{
         grid-template-columns: 450px 560px;
         column-gap: 5rem;
         padding-block: 7rem 3rem;
      }
      &__image{
         width: 450px;
         height: 450px;
         border-radius: 9rem;
         order: -1;
      }
      &__img{
         width: 380px;
      }
      &__content{
         display: initial;
      }
      &__content :is(.section__title, .section__subtitle){
         text-align: initial;
      }
      &__swiper{
         padding-bottom: 8rem;
      }
      &__card{
         row-gap: 3rem;
      }
      &__profile{
         justify-content: initial;
         column-gap: 1rem;
      }
      &__photo{
         width: 80px;
      }
      &__data{
         row-gap: .5rem;
      }
      &__comment{
         width: 450px;
         text-align: initial;

         &::before,
         &::after{
            font-size: 5rem;
         }
         &::before{
            top: -1.5rem;
            left: -3.5rem;
         }
         &::after{
            right: -3.5rem;
            bottom: -3rem;
         }
      }
      & .swiper-button-prev{
         left: .5rem;
      }
      & .swiper-button-next{
         left: 4rem;
      }
   }

   .app{
      padding-bottom: 4rem;

      &__container{
         width: initial;
         grid-template-columns: 420px 360px;
         justify-content: center;
         column-gap: 8rem;
         padding-block: 6rem;
         border-radius: 4rem;
      }
      &__data,
      &__data :is(.section__title, .section__subtitle){
         text-align: initial;
      }
      &__description{
         margin-block: .5rem 3rem;
         padding-right: 2rem;
      }
      &__image{
         width: 360px;
         height: 330px;
      }
      &__img{
         border-radius: 2rem;
      }
   }

   .map{
      &__container{
         grid-template-columns: 450px 400px;
         justify-content: center;
         align-items: center;
         column-gap: 6.5rem;
         padding-bottom: 5rem;
      }
      &__area{
         width: 450px;
         height: 450px;
         border-radius: 9rem;
      }
      &__content{
         grid-template-columns: repeat(2, max-content);
         gap: 4rem 5rem;
      }
   }

   .footer{
      padding-block: 6rem 3rem;

      &__container{
         grid-template-columns: repeat(2, max-content);
         justify-content: space-between;
      }
      &__content{
         column-gap: 5rem;
      }
      &__form{
         width: 330px;
      }
   }

   .scrollup{
      right: 3rem;
   }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px){
   body{
      zoom: 1.4;
   }
}
