/*=============== HOME ===============*/
.home{
   &__container{
      padding-block: 1.5rem;
      row-gap: 3rem;
   }
   &__data{
      text-align: center;
      display: grid;
      row-gap: 3rem;
   }
   &__title{
      font-size: var(--biggest-font-size);
      margin-bottom: .5rem;

      & span{
         color: var(--first-color);
      }
   }
   &__description{
      margin-bottom: 2rem;
   }
   &__social{
      display: flex;
      justify-content: center;
      column-gap: .75rem;
   }
   &__link{
      width: 40px;
      height: 40px;
      background-color: var(--container-color);
      box-shadow: var(--shadow-small);
      border-radius: .75rem;
      display: grid;
      place-items: center;
      font-size: 1.5rem;
      color: var(--title-color);
      transition: background-color .4s, box-shadow .4s, color .4s;

      &:hover{
         background-color: var(--first-color);
         box-shadow: 0 4px 8px var(--shadow-first-color);
      }
   }
   &__image{
      position: relative;
      width: 320px;
      height: 320px;
      background: var(--gradient-color);
      border-radius: 6rem;
      justify-self: center;
      margin-top: 3rem;
   }
   &__img{
      width: 230px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      mask-image: linear-gradient(var(--first-color) 80%, transparent 95%);
      filter: var(--shadow-img-big);
   }
   &__phone{
      position: absolute;
      top: 9.5rem;
      left: -1rem;
      background-color: var(--container-color);
      box-shadow: var(--shadow-small);
      padding: .5rem;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      column-gap: .5rem;
      transition: background-color .4s;
   }
   &__icon{
      width: 36px;
      height: 36px;
      background-color: var(--first-color);
      border-radius: .75rem;
      display: grid;
      place-items: center;
      color: var(--white-color);
      font-size: 1.25rem;
   }
   &__number{
      font-size: var(--small-font-size);
      font-style: normal;
      color: var(--title-color);

      & span{
         display: block;
         font-weight: var(--font-semi-bold);
         margin-top: .25rem;
      }
   }
   &__comment{
      position: absolute;
      right: 0;
      bottom: -1.5rem;
      width: 250px;
      background-color: var(--container-color);
      box-shadow: var(--shadow-small);
      border-radius: 1.5rem;
      padding: 1.5rem 2.5rem;
      text-align: center;
      font-size: var(--small-font-size);
      color: var(--title-color);
      transition: background-color .4s;

      &::before{
         content: open-quote;
         position: absolute;
         top: 1rem;
         left: 1rem;
      }
      &::after{
         content: close-quote;
         position: absolute;
         right: 1rem;
         bottom: 0;
      }
      &::before,
      &::after{
         font-size: 2rem;
         font-weight: var(--font-semi-bold);
         color: var(--first-color);
      }
   }
}
