/*=============== MAP ===============*/
.map{
   &__container{
      row-gap: 3rem;
      padding-bottom: 3rem;
   }
   &__area{
      position: relative;
      width: 320px;
      height: 320px;
      overflow: hidden;
      border-radius: 6rem;
      box-shadow: var(--shadow-small);
      justify-self: center;
   }
   &__content{
      row-gap: 2rem;
   }
   &__card{
      text-align: center;
      display: grid;
      row-gap: 1rem;
   }
   &__title{
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: .5rem;
      font-size: var(--h3-font-size);

      & i{
         font-size: 1.5rem;
         font-weight: initial;
         color: var(--first-color);
      }
   }
   &__info{
      font-style: initial;
   }
   &__area iframe{
      width: 100%;
      height: 100%;
   }
   &__img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      transition: transform .4s;
   }
   &__area:hover &__img{
      transform: translateX(-100%);
   }
}
