/*=============== REVIEWS ===============*/
.reviews{
   &__container{
      row-gap: 6rem;
   }
   &__content{
      display: grid; // For swiper
   }
   &__swiper{
      margin-inline: initial; // For swiper
      padding-bottom: 6rem;
   }
   &__card{
      display: grid;
      row-gap: 1rem;
   }
   &__profile{
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: .5rem;
   }
   &__photo{
      width: 60px;
      border-radius: 50%;
   }
   &__data{
      display: grid;
      row-gap: .25rem;
   }
   &__name,
   &__number{
      font-size: var(--h3-font-size);
   }
   &__rating{
      display: flex;
      align-items: center;
      column-gap: .5rem;
   }
   &__stars{
      display: flex;
      column-gap: .25rem;

      & i{
         font-size: 1rem;
         color: var(--first-color);
      }
   }
   &__comment{
      position: relative;
      width: 280px;
      justify-self: center;
      text-align: center;

      &::before{
         content: open-quote;
         position: absolute;
         left: -1rem;
         top: -.5rem;
      }
      &::after{
         content: close-quote;
         position: absolute;
         right: -1rem;
         bottom: -2rem;
      }
      &::before,
      &::after{
         font-size: 2.5rem;
         font-weight: var(--font-semi-bold);
         color: var(--first-color);
      }
   }
   &__image{
      position: relative;
      width: 320px;
      height: 320px;
      background: var(--gradient-color);
      border-radius: 6rem;
      justify-self: center;
   }
   &__img{
      width: 270px;
      position: absolute;
      bottom: 0;
      left: 2rem;
      right: 0;
      margin: 0 auto;
      mask-image: linear-gradient(var(--first-color) 80%, transparent 95%);
      filter: var(--shadow-img-big);
   }
}

/* Swiper class */
.reviews{
   & .swiper-navigation-icon{
      display: none;
   }
   & :is(.swiper-button-prev, .swiper-button-next){
      top: initial;
      bottom: 1.5rem;
      width: 40px;
      height: 40px;
      background-color: var(--container-color);
      box-shadow: var(--shadow-small);
      color: var(--title-color);
      border-radius: .75rem;
      font-size: 1.5rem;
      transition: background-color .4s, box-shadow .4s, color .4s;

      &:hover{
         background-color: var(--first-color);
         box-shadow: 0 4px 8px var(--shadow-first-color);
      }
   }
   & .swiper-button-prev{
      left: calc(50% - 3rem);
   }
   & .swiper-button-next{
      right: calc(50% - 3rem);
   }
}
