/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
   width: .6rem;
   border-radius: 1rem;
   background-color: hsl(45, 32%, 70%);
   
   &-thumb{
      background-color: hsl(45, 32%, 60%);
      border-radius: 1rem;

      &:hover{
         background-color: hsl(45, 32%, 50%);
      }
   }
}

/*=============== SCROLL UP ===============*/
.scrollup {
   position: fixed;
   right: 1rem;
   bottom: -50%;
   background-color: var(--body-color);
   box-shadow: var(--shadow-big);
   color: var(--title-color);
   display: inline-flex;
   padding: 6px;
   font-size: 1.25rem;
   border-radius: .75rem;
   z-index: var(--z-tooltip);
   transition: bottom .4s, transform .4s, background-color .4s, color .4s;

   &:hover{
      transform: translateY(-.5rem);
   }
}

/* Show Scroll Up */
.show-scroll{
   bottom: 3rem;
}