/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
.dark-theme{
	--first-color-light: hsl(45, 48%, 16%);
   --title-color: hsl(45, 4%, 95%);
   --text-color: hsl(45, 4%, 60%);
   --body-color: hsl(45, 8%, 8%);
   --container-color: hsl(45, 8%, 12%);
	--shadow-big: 0 2px 16px hsla(45, 50%, 2%, .6);
	--shadow-small: 0 4px 8px hsla(45, 50%, 2%, .2);
}

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
.dark-theme{
	& :is(.button, .home__link:hover, .menu__button, 
			.swiper-button-prev:hover, .swiper-button-next:hover, 
			.footer__social-link:hover, .footer__button:hover){
		color: var(--dark-color);
	}
	
	& .footer{
		background-color: var(--container-color);
	}
	& :is(.footer__social-link, .footer__form){
		background-color: var(--body-color);
	}
	&::-webkit-scrollbar{
		background-color: hsl(45, 8%, 12%);

		&-thumb{
			background-color: hsl(45, 8%, 20%);
			
			&:hover{
				background-color: hsl(45, 8%, 24%);
			}
		}
	}
}
